html {
  background-color: #222;
}
body {
  background-color: #222;
}

body .container {
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}
h1 {
  color: #ccc;
  float: left;
}

h2 {
  float: right;
  color: #ccc;
  font-size: 40px;
}

h3 {
  color: #ccc;
}

.photo {
  width: 960px;
  text-align: center;
}

.photo img {
  margin: auto;
  position: relative;
  height: 580px;
}
