%h3
  Text your keywords to
  %strong 215 987 4639
  to get on the screen.
#photos
  - photos.each do |photo|
    .photo
      = image_tag(photo[:image_url], title: raw("<em>#{truncate(photo[:name], :length => 30)}</em><br />#{photo[:photographer]}" ))
%h1 Keyword: "#{keyword}"
%h2#caption
:javascript
  $(function() {
    var slider = $("#photos").bxSlider({
      mode: "fade",
      speed: 1000,
      infiniteLoop: false,
      controls: false,
      captions: true,
      captionsSelector: $("#caption"),
      auto: true,
      onLastSlide: function() {
        $.get("/latest", function(response) {
          slider.stopShow();
          window.setTimeout(function() {
            slider.destroyShow();
            $("#caption").html("");
            $(".photos").html(response)
          }, 2000);
        })
      }
    });
  });
