<!DOCTYPE html>
<html>
<head>
  <title>Slide 500</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class='container'>

<%= yield %>
  </div>
</body>
</html>
