<!DOCTYPE html>
<html>
<head>
  <title>Slide 500</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class='container'>

    <h1> Slide 500 </h1>
<%= yield %>
    <h3> Text your request to: 215 987 4639 </h3>
  </div>
</body>
</html>
